@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;800&display=swap');

@import './base.css';

html {
  font-family: 'Work Sans', sans-serif;
}

body {
  overscroll-behavior-y: none;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  height: 100%;
}

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

main {
  height: 100%;
  position: relative;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

h1 {
  @apply text-5xl font-extrabold dark:text-white;
}