@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap');

@import './base.css';

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  overscroll-behavior-y: none;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  height: 100%;
}

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

main {
  height: 100%;
  position: relative;
}

#app {
  @apply px-5 mx-auto my-0 max-w-[1280px];
}

h1 {
  @apply text-3xl md:text-5xl font-extrabold dark:text-white;
}